
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(110deg, #1a1a2e, white);
    color: white;
}

.game-container {
    width: 400px;
    padding: 30px;
    text-align: center;
    background: linear-gradient(110deg, #16213e, white);
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.player-score {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.player-score span {
    font-size: 16px;
    font-weight: bold;
}

.player-score strong {
    font-size: 28px;
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #16213e;
}

.status {
    font-size: 18px;
    margin-bottom: 25px;
    color: #16213e;
    transition: 0.3s;
    font-weight: bold;
}

.status.x-turn {
    color: #00d9ff;
}

.status.o-turn {
    color: #ff4f81;
}

.board {
    width: 300px;
    height: 300px;
    margin: 0 auto 25px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    gap: 8px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #16213e;
    border-radius: 10px;

    font-size: 45px;
    font-weight: bold;

    cursor: pointer;
    transition: 0.2s;
}

.cell:hover {
    background: #1b4f85;
    transform: scale(1.03);
}

.cell.winner {
    background: #0daa2f;
    transform: scale(1.05);
}

.cell.x {
    color: #00d9ff;
}
.cell.o {
    color: #ff4f81;
}

.restart-btn {
    padding: 12px 25px;

    border: none;
    border-radius: 8px;

    background: #e94560;
    color: white;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
    transition: 0.2s;
}
.restart-btn:hover {
    background: #0daa2f;
    transform: translateY(-2px);
}